<p id="notice"><%= notice %></p>

<p>
  <strong>Team Name:</strong>
  <%= @dance_team.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @dance_team.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dance_team.email %>
</p>
<p>
  <strong>Number of Members:</strong>
  <%= @dance_team.members %>
</p>

<p>
  <strong>Hiphop:</strong>
  <%= @dance_team.HipHop %>
</p>

<p>
  <strong>Ballet:</strong>
  <%= @dance_team.Ballet %>
</p>

<p>
  <strong>Jazz:</strong>
  <%= @dance_team.Jazz %>
</p>

<%= link_to 'Edit', edit_dance_team_path(@dance_team) %> |
<%= link_to 'Back', dance_teams_path %>
